/* Project Template */

.project-description {
	float: right;
	width: 33.33333333333333%;

	.post p { @include font-size(2.4); }

	@include breakpoint(large) { width: 100%; }
}

.project-images {
	float: left;
	width: 66.66666666666666%;

	@include breakpoint(large) { width: 100%; }

	img {
		margin-bottom: 4em;
		@include breakpoint(medium) { margin-bottom: 3em; }
		@include breakpoint(small) { margin-bottom: 2em; }
	}

	&.photos {
		img {
			display: block;
			width: auto;
			margin: 0 auto 30px;
		}
	}
}

.project {
	@include clearfix();
	margin-bottom: 30px;
}

.project-video {
	margin-bottom: 30px;
	background: $white;
}
